body{
    background-color: #f7f3c6;

}

img{
    width: 400px;
    height: 500px;
}

.image{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
}